.maxprice-filter {
  position: relative;
  .maxprice-select {
    width: 280px;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: var(--elevation-medium);
    display: flex;
    position: absolute;
    flex-direction: column;
    gap: 16px;
    padding: 20px;
    z-index: 100;
    top: 40px;
    left: 0px;
  }
}
