.card {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: var(--elevation-light);
  background-color: #E5E5E5;
  height: 75px;
  img {
    height: 397px;
    width: 100%;
    object-fit: cover;
  }
}

.text {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-text {
  display: flex;
  flex-direction: column;
  color: black;
  font-weight: bold;
  gap: 10px;
  width: 170px;
}
.title {
  span {
    color: black;
  }
}

.description {
  color: black;
}

.full-card {
  margin-bottom: 40px;
}

.oprice {
  text-decoration: line-through;
}

.place-text {
  font-weight: bold;
  flex: 1;
  color: black;
}
